.slider {
  /* default is width 400 and margin 10 */
	width: 400;
	margin: 10px;
}
/*
#vertical_slider_table{
  table-layout: fixed;
}*/


.blank{
  width: 200px;
  max-width: 200px;
}

#svg_bug{
  width: 200px;
  max-width: 200px;
}

#svg_tree{
  height: 400px;
  max-width: 400px;
}

#vslider0 {
  float: bottom;
}
#slider_col {
  vertical-align: bottom;
}

#svg_bug_train{
  width: 200px;
  max-width: 200px;
}

#svg_tree_train{
  height: 400px;
  max-width: 400px;
}

.top {
    top: -38%;
    position: relative;
    text-align: right;
}

.bottom {
    top: 230px;
    position: relative;
    transform: translateY(-200%);
    text-align: right;
}

.treeBox {
    position: relative;
}

#vslider0_train {
  position: absolute;
  top: 90px;
  left: 165px;
  float: bottom;
  max-width: 100px;
}

#vslider1_train {
  float: bottom;
  max-width: 100px;
  border: 1px solid black;
}
#slider_col_train {
  vertical-align: bottom;
  width: 100px;
  max-width: 100px;
}
#slider_col1_train {
  vertical-align: bottom;
  max-width: 100px;
}
.adjust{
  color: blue
}
